*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bg-forestGreen{
	background: #455954;
}

.nav-image{
  width: 50px;
  height: 50px;
  border: 0px solid blue;

}

.nav-text{
	font-weight: bold;
}

.bg-linen{
	background-color: #dfdbd8;
	
}

@media only screen and (min-width: 992px) {
	.aboutme-container-lg{
	height: 92vh;
	width: 100%;

	}
}

@media only screen and  (min-width: 578px) {
.aboutme-container-sm{
	height: 50vh;
	width: 100%;

	}
}


