/*

Syntax of using CSS rules

selctor {
	property:value;
}

*/

/*Universal Selector*/
/*It targets all the elements in our webpage*/

*{
	/*	font-family property changes the style of the font */
	font-family: "Couries New", monospace;
	/*	font-size changes the size of the font*/
	font-size: 20px;
}

/*Target Selector*/
/*tag name*/

h1{

	color: yellow;

}

/*ID selector*/
/*it targets only 1 element.*/

#zuittMotto{
/* the letter-spacing property changes the spaces between the characters in a text	*/
	letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/

.offering-item{
	text-transform: uppercase;
}

/*Attribute sleector*/
/*[attribute]*/

[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;

}

/*h3{
	letter-spacing: 25px !important;
}*/

/*Adjacent sibling selector*/
/*element for reference + Target + element*/
h3+img{
/* The heigh property changes the vertical dimensions of an element	*/
	height: 300px;
/*	wifth property chanegs the horizontal dimensions of an element */
	width: 300px;

	border-radius: 150px;
}

/*Decsendant selecto*/
/*element for reference trget element*/
#bootcampLearningList li{
	color: #34cfeb;
}

/*General sibling selector*/
h2~a{
/*text-decoration property changes lines included in text (example: overline, underline and strike*/
	text-decoration: none;
}

/*Child selector*/
body > section > form > label{
	color: rgb(235, 52, 58);
}


body{

	background-color: #e6e5e1;
}

section{
/* vh - viewport height */
	height: 100vh;
	text-align: center;
}

html{
/* scroll-behavior property that changes the scrolling behavior when clicking anchor tags*/
	scroll-behavior: smooth;
}

nav{
	background-color: whitesmoke;
}

/*pseudo class*/
a:hover{
	background-color: cyan;
}
div{
/*	*/
	display: inline;
/* float property chages the horizontal */
	float: right;
}

ol{
	list-style: none ;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/* the position property changes the position of an element based on a certain criteria	*/
	position: relative;
	left: 37.5%;

}

button{
	background-color: red;
	color: white;
	border: 0px;
	border-radius: 9px;
}