/* CSS reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: sticky;
	top: 0;
	padding: 0.8rem;
    margin-bottom: 2rem;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #e3e3e3;
}


nav ul li{
	display: inline;
	padding: 7.5px;

}

nav ul .nav-logo, nav  .right-nav, body nav .tuitt-button {
	list-style: none;

}

.right-nav {
	margin-right: 5rem;
	font-size: 15px;
	float: right;	
}

.tuitt-button {
	color: white;
    font-weight: bold;
    border: none;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 15px;
    padding: 0.7rem;
    position: center;
}

.apply-button {
	color: white;
    font-weight: bold;
    border: none;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 15px;
    padding: 0.7rem;
    width: 12vw;
    position: center;
	margin-right: 8.5rem;
}

.book-button {
	color: white;
    font-weight: bold;
    border: none;
    background-color: #336589;
    border-radius: 25px;
    font-size: 15px;
    padding: 0.7rem;
    width: 12vw;
    position: center;
	
}

.nav-logo {
	margin-left: 5rem;
}

#bg-image{
	background: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 40vh;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 40vh;
	color: white;
}

.front-bg .subtitle {
	

}

.title, .title-2 {
	font-family: 'Zilla Slab', serif;
}

.container {
	float: right;
	width: 55vw;
	text-align: right;
	margin-left: 5rem;

}

.container .title, .container .subtitle{
	margin-bottom: 1rem;
	margin-left: 4rem;
	display: block;
    width: 75%;
}

.container .title {
	font-size: 42px;
	
}

.container .subtitle{
	margin-left: 15rem;
	width: 28vw;
	font-size: 18px;
	font-weight: initial;
}


.intro{
	display: block;
	padding: 5rem;
	text-align: center;
	text-align: justify;


}

.intro-description {
	margin-left: 10vh;
	margin-right: 10vh;
}

.intro .title-2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 3rem;
}

.pre-footer {
	width: 100%;
	height: 50vh;
	background-color: #f7fbfb;
	display: block;
	text-align: center;
}

.pre-footer .title-2 {
	text-align: center;
	font-size: 30px;
	padding: 3rem;
}

.pre-footer .prefooter-description {
	margin-left: 20vh;
	margin-right: 20vh;
	margin-bottom: 1rem;

}

footer {
	text-align: center;

}

