*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* BootStrap */

body{
	font-family: "Helvetica Neue". sans-serif;
}

.text-center{
	text-align: center;
}

.h-25{
	height: 25%;
}

.p-3{
	padding: 1rem;
}

.bg-success{
	background-color: forestgreen;
}

.bg-warning{
	background-color: yellow;
}

.bg-danger{
	background-color: darkred;
}

.bg-secondary{
	background-color: grey;
}

.d-flex{
/* The flex value of the display property wil change the element into a block level flex container	*/ 
	display: flex;
}

/* aligns below di gagana pag walang d-flex */

/*align pigilid gitna*/
.justify-content-center{
	justify-content: center;
}
/*align pababa gitna*/
.align-items-center{
	align-items: center;
}

/* align to column o pababa */
.flex-column{
	flex-direction: column;
}

.flex-column-reverse{
	flex-direction: column-reverse;
}

/* align self only reference is horizontally */
.align-self-center{
	align-self: center;
}

