*{
	font-family: "roboto", monospace ;
	font-size: 20px;

}

header > h1{
	font-size: 50px;
	text-align: center;
}


#external{
	color: yellow;
}

h1{
	font-size: 70px;
}

#cssIntroduction>h2{
	word-spacing: 2px;
	text-transform: uppercase;
}

.language{
	background-color: #7fb386;
}

[value]{
	border-width: 1px;
	border-color: blue;
	border-style: solid;
}


img + #otherTools{
	list-style: none;
	
}

section #jsLogo{
	border-radius: 50%;
}

h4 ~ p{

	text-align: center;
}

section > #otherTools{
	letter-spacing: 10px;
}


